.footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffff;
}

.masoodctmiusa {
  color: #007bff; /* Link color */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Font weight */
  text-decoration: none; /* Remove underline */
}

.masoodctmiusa:hover {
  color: #0056b3; /* Link color on hover */
}


.maps{
  display: flex;
  justify-content: space-between;
}

.footerContainer .a {
  flex: 1 1 100%;
  background-color: #120225;
  color: #fff;
  margin-top: 10px;
  padding: 20px;
 
}

.footerContainer .b {
  margin-bottom: 30px;
  
}

.footerContainer .c {
  font-size: 46px;
  

}

.footerContainer .subscribebutton {
  color: #ff0033;
  font-weight: bold;
  
}

.footerContainer form {
 padding: 50px;
  
}

.footerContainer .g {
  flex: 1;
  padding: 15px;
  border: 1px solid #130303;
  border-radius: 50px;
 

}

.footerContainer .h {
  background-color: #ff0033;
  color: #fff;
  border: none;
  padding: 16px 76px;
  cursor: pointer;
  border-radius: 50px;
  
}

.footerContainer .i {
  flex: 1 1 100%;
  margin-top: 55px;
  display: flex;
}

.footerContainer .j {
  display: flex;
  justify-content: space-between;
}

.footerContainer .k {
  flex: 1 1 50%;
}

.footerContainer .l {

 margin-left: 10px;
}

.footerContainer .m {
  margin-right: 20px;
}

.footerContainer .p {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.footerContainer .q,
.footerContainer .s {
  margin: 10px;
}

.footerContainer .r,
.footerContainer .ss {
 
}

.footerContainer .t {
  margin-top: 30px;
}

.footerContainer .u,
.footerContainer .x {
  font-weight: bold;
  margin-bottom: 10px;
}

.footerContainer .v,
.footerContainer .y {
  list-style: none;
  padding: 0;
}

.footerContainer .v a,
.footerContainer .y a {
  color: #333;
  text-decoration: none;
}

.footerContainer .v a:hover,
.footerContainer .y a:hover {
  color: #ff0033;
}

.footerContainer .w {
  margin-top: 20px;
}

.footerContainer .z {
  flex: 1 1 50%;
}

.footerContainer .ab {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footerContainer .cd {
  font-size: 15px;
}

.footerContainer .ef {
  font-size: 12px;
  color: #333;
}
.subscribeinputss[type="email"] {
  padding: 16px 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 15px;
  font-family: Arial, sans-serif;
  transition: border-color 0.3s ease;
  width: 30%;
  border-radius: 20px;
  border-color: #333;
  margin-left: 400px;
}

.inputbutton input[type="text"]:focus {
  border-color: #007bff; /* Change border color on focus */
}

.inputbutton input[type="text"]::placeholder {
  color: #999; /* Placeholder text color */
}
.Subscribes {
  padding: 15px 40px;
  background-color: #484c51;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.Subscribes:hover {
  background-color: orangered;
}

.StreamLine{
  font-size: 20px;
  margin-top: 2px;

}


@media only screen and (max-width: 768px) {
  .footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: #ffff;
  }
  
  .footerContainer .a {
    flex: 1 1 100%;
    background-color: #120225;
    color: #fff;
    margin-top: 10px;
    padding: 20px;
   
  }
  
  .footerContainer .b {
    margin-bottom: 21px;
    margin-left: 10px;
    
  }
  
  .footerContainer .c {
    font-size: 33px;
    
  
  }
  
  .footerContainer .subscribebutton {
    color: #ff0033;
    font-weight: bold;
    
  }
  
  .footerContainer form {
   padding: 0px;
    
  }
  
  .footerContainer .g {
    flex: 1;
    padding: 15px;
    border: 1px solid #130303;
    border-radius: 50px;
   
  
  }
  
  .footerContainer .h {
    background-color: #ff0033;
    color: #fff;
    border: none;
    padding: 16px 76px;
    cursor: pointer;
    border-radius: 50px;
    
  }
  
  .footerContainer .i {
    flex: 1 1 100%;
    margin-top: 55px;
    display: flex;
  }
  
  .footerContainer .j {
    display: flex;
    justify-content: space-between;
  }
  
  .footerContainer .k {
    flex: 1 1 50%;
    margin: 20px;
  }
  
  .footerContainer .l {
  
   margin-left: 10px;
  }
  
  .footerContainer .m {
    margin-right: 20px;
  }
  
  .footerContainer .p {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .footerContainer .q,
  .footerContainer .s {
    margin: 10px;
  }
  
  .footerContainer .r,
  .footerContainer .ss {
    vertical-align: middle;
  }
  
  .footerContainer .t {
    margin-top: 30px;
  }
  
  .footerContainer .u,
  .footerContainer .x {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footerContainer .v,
  .footerContainer .y {
    list-style: none;
    padding: 0;
  }
  
  .footerContainer .v a,
  .footerContainer .y a {
    color: #333;
    text-decoration: none;
  }
  
  .footerContainer .v a:hover,
  .footerContainer .y a:hover {
    color: #ff0033;
  }
  
  .footerContainer .w {
    margin-top: 20px;
  }
  
  .footerContainer .z {
    flex: 1 1 50%;
  }
  
  .footerContainer .ab {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footerContainer .cd {
    font-size: 15px;
    margin: 15px;
  }
  
  .footerContainer .ef {
    font-size: 12px;
    color: #333;
    margin: 10px;
  }
  .subscribeinputss[type="email"] {
    padding: 9px 10px;
    border: 1px solid #ccc;
    font-size: 17px;
    font-family: Arial, sans-serif;
    transition: border-color 0.3s ease;
    width: 40%;
    border-radius: 20px;
    border-color: #333;
    margin-left: 9px;
  }
  
  input[type="text"]:focus {
    border-color: #007bff; /* Change border color on focus */
  }
  
  input[type="text"]::placeholder {
    
    color: #999; /* Placeholder text color */
  }
  .Subscribes {
    padding: 8px 10px;
    background-color: orangered;
    color: #fff;
    border: none;
    font-size: 17px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50px;
    margin-top: 10px;
    margin-left: 3px;
  }
  
  .Subscribes:hover {
    background-color: rgb(232, 70, 11);
  }
  
  .StreamLine{
    font-size: 20px;
    margin-top: 2px;
  
  }
}


