/* Navbar.css */

.navbar {
  background-color: #fff; /* Background color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  padding: 20px; /* Add padding to the Navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  color: #333; /* Logo text color */
  font-size: 3rem;
  text-decoration: none;
  font-weight: bold; /* Add bold font weight */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow */
  transition: transform 0.3s ease; /* Add smooth transition effect */
}

.logo a:hover {
  transform: scale(1.1); /* Scale up on hover for a subtle interactive effect */
}


.links {
  list-style: none;
  display: flex;
  gap: 60px;
}

.links a {
  color: #333; /* Link text color */
  text-decoration: none;
  font-size: 1.6rem; /* Adjust font size as needed */
  font-weight: bold; /* Add bold font weight */
  text-transform: uppercase; /* Convert text to uppercase */
  transition: color 0.3s ease; /* Add smooth transition effect */
}

.links a:hover {
  color: orangered; /* Change text color on hover */
}


.links li a {
  color: #333; /* Links text color */
  text-decoration: none;
  font-size: 1rem;
}



.toggle_btn {
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(3, 5, 33);
    color: #fff;
  }

  .links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin:10px;
    color: #fff;
    padding: 50px ;
    background-color: rgb(3, 5, 33);
    color: #fff;


  }

  .links.open {
    display: flex;
    

  
  
  
  }

  .toggle_btn {
    display: block;
    margin-top: 20px;
  }

  .logo a {
    color:#fff; /* Logo text color */
    font-size: 2.7rem;
    text-decoration: none;
    font-weight: bold; /* Add bold font weight */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle text shadow */
    transition: transform 0.3s ease; /* Add smooth transition effect */
    margin-left: 20px;
    
  }

  
.links {
  gap: 20px;
  
}

.links a {
  color: #333; /* Link text color */
  text-decoration: none;
  font-size: 1.6rem; /* Adjust font size as needed */
  font-weight: bold; /* Add bold font weight */
  text-transform: uppercase; /* Convert text to uppercase */
  transition: color 0.3s ease; /* Add smooth transition effect */
  
}

.links a:hover {
  color: orangered; /* Change text color on hover */
  
}

.links li a {
   /* Links text color */
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
}



}
