.WhatMakePowerFullPara {
   /* Adjust font size as needed */
    font-size: bold; /* Adjust font size as needed */
    font-family: Arial, sans-serif; /* Specify the desired font family */
    color: rgb(251, 245, 245); /* Set the text color */
    line-height: 1.6; /* Adjust line height for better readability */
    padding: 100px 100px; 
    /* Add padding for spacing */
    border: 1px solid #f90b0b; /* Add a border for visual separation */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color:  rgb(74, 97, 97); ; /* Add background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  }
  
  .WhatMakePowerFullPara::after {
    content: ''; /* Add content after the paragraph */
    display: inline-block; /* Display as inline-block */
    width: 2px; /* Set width */
    height: 15px; /* Set height */
    background-color: red; /* Set background color */
    margin-left: 5px; /* Add margin between text and bullet */
    animation: blink 1s infinite; /* Apply blinking animation */
  }
  
  @keyframes blink {
    0%, 50% {
      opacity: 0; /* Start and middle of animation: hide */
    }
    100% {
      opacity: 1; /* End of animation: show */
    }
  }

  @media screen and (max-width: 768px) {
    .WhatMakePowerFullPara {
    font-size: 12px; 
    line-height: 1.5; 
    padding: 20px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }

    .WhatMakePowerFullPara::after {
      content: ''; /* Add content after the paragraph */
      display: inline-block; /* Display as inline-block */
      width: 2px; /* Set width */
      height: 15px; /* Set height */
      background-color: red; /* Set background color */
      margin-left: 5px; /* Add margin between text and bullet */
      animation: blink 0.5s infinite; /* Apply blinking animation */
    }

    
  }
  
  