.whatwedo-container{
  text-align: center;
  justify-content: center;


}

.whatwedo{
  width: 70%;
  height: 50%;
}
@media screen and (max-width: 768px) {
  .whatwedo-container{
    text-align: center;
    justify-content: center;
    margin: 20px;
  
  
  }
  
  .whatwedo{
    width: 100%;
    height: 100%;
  }
}
