.contactus-container{
  text-align: center;
  justify-content: center;
}

.contactus{
  width: 60%;
  height: 30%;
}

@media screen and (max-width: 768px) {
  .contactus-container{
    text-align: center;
    justify-content: center;
    margin: 25px;
  }
  
  .contactus{
    width: 100%;
    height: 100%;
  }
}