.headerTop{
  background-color: rgb(3, 5, 33); 
    padding: 20px 25px;
    position: relative;
}
.HeaderLine{

    font-weight: 800;
    font-size: 70px;
    color: #fff;
    
}

.ParaLine{
    font-size: 40px;
    color: #fff;
    padding: 20px 0;
}
.bookcall{
    padding: 15px 80px;
    background-color: orangered;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    display: flex;
}
.bookcall:hover{
    background-color: green;
    color: #fff;
}
.img{
   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 80%;
    width: 400px; /* Set the width */
    height: 400px;
    position: absolute;
    right: 10px;
    top: 0;
    filter: brightness(0.7); 
  

}

@media screen and (max-width: 768px) {
    .headerTop {
      text-align: center;
    }
  
    .img {
      width: 100px;
      height: 100px; /* Adjust the width as needed */
      margin: 20px 30px; /* Center the image */
    }
  
    .HeaderLine {
      font-size: 17px; /* Adjust the font size as needed */
    }
  
    .ParaLine {
      font-size: 13px; /* Adjust the font size as needed */
      line-height: 1.3; /* Adjust the line height as needed */
    }
  
    .bookcall{
        background-color: red; /* Green */
        border: none;
        color: white;
        padding: 10px 42px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 5px 5px;
        margin: 10px ;
        cursor: pointer;
        border-radius: 30px;
    }
  }
  