.HeadContainer {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.heading {
  text-align: center;
}

.HeadingAutomation {
  font-size: 52px;
  margin-bottom: 30px;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.iconAndText {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.iconAndText .icon {
  margin-right: 50px;
}

.textContainer {
  text-align: left;
}

.HeadLine {
  margin: 0;
  font-size: 24px;
  color: red;
}

p {
  margin-top: 10px;
  margin-bottom: 0; /* Adjust if needed */
  font-size: 20px;
}

@media screen and (max-width: 768px) {

 
  .HeadContainer {
    padding: 20px; /* Add padding for better spacing */
  }

  .HeadingAutomation {
    font-size: 25px;
    margin-bottom: 10px;
  }

  .item {
    margin-bottom: 20px; /* Add margin between items */
  }

  .iconAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .icon {
    margin-bottom: 10px; /* Add margin below icons */
  }

  .HeadLine {
    font-size: 20px; /* Adjust the font size as needed */
    margin-bottom: 10px; /* Add margin below headings */
  }

  .textContainer p {
    font-size: 14px; /* Adjust the font size as needed */
  }
}

